#root {
  margin: 0;
  padding: 0;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.form input{
  font-size: 1rem;
}

.form button{
  font-size: 0.9rem;
  cursor: pointer;
}

.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

button{
  cursor: pointer;
}

.github-repo{
  position: absolute;
  display: flex;
  bottom: 2rem;
}